<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (contact(); as contactRef) {
      <div>
        <h2 data-cy="contactDetailsHeading"><span>Contact</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ contactRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ contactRef.name }}</span>
          </dd>
          <dt><span>Identification</span></dt>
          <dd>
            <span>{{ contactRef.identification }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ contactRef.email }}</span>
          </dd>
          <dt><span>Phone</span></dt>
          <dd>
            <span>{{ contactRef.phone }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/contact', contactRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
